# The MySQL Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]

[mysqld]
# Define el modo SQL que MySQL utilizará para interpretar las consultas.
# - STRICT_TRANS_TABLES: Genera errores en lugar de advertencias para operaciones que violen restricciones.
# - NO_ZERO_IN_DATE: Rechaza fechas con ceros.
# - ERROR_FOR_DIVISION_BY_ZERO: Genera un error si hay una división por cero.
# - NO_ENGINE_SUBSTITUTION: Previene el uso de motores no especificados explícitamente.
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"

# Establece el conjunto de caracteres que utilizará el servidor MySQL.
# 'utf8' permite almacenar caracteres Unicode. Para un soporte completo, considera usar 'utf8mb4'.
character-set-server=utf8

# Establece el plugin de autenticación por defecto para nuevos usuarios.
# 'mysql_native_password' asegura compatibilidad con clientes y aplicaciones que no soportan el nuevo método de autenticación.
default-authentication-plugin=mysql_native_password

# Controla el uso de la entrada/salida asíncrona nativa (AIO) para InnoDB.
# Un valor de '0' desactiva AIO nativo. Desactivarlo puede ayudar en ciertas configuraciones de sistema.
innodb_use_native_aio=0

# Define el motor de almacenamiento predeterminado que se usará al crear nuevas tablas.
# 'InnoDB' es el motor recomendado por su soporte de transacciones e integridad referencial.
default-storage-engine=InnoDB